header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px var(--main-pading-side);
  background-color: var(--primary-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo a {
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  color: #eeeeee;
  font-family: var(--primary-font);
}

.navigation-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navigation-links button {
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-size: 1rem;
  transition: color 0.3s ease;
  font-family: var(--primary-font);
  height: fit-content;
}

.navigation-links button:hover {
  background-color: #ffffff;
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.underProfile {
  position: absolute;
  top: 6rem;
  right: 11%;
  z-index: 100;
}

.profile-card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 1.5rem;
  width: 320px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #007bff;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.95rem;
}

.detail-item {
  background: #f9f9f9;
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
}

.profile-actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 1.5rem;
  justify-content: space-between;
}

.profile-actions .primary-btn {
  flex: 1;
  padding: 0.6rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.header-center-buttons {
  width: 50%;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

.header-center-buttons i {
  font-size: x-large;
  color: #007bffa6;
  cursor: pointer;
  transition: border-bottom 0.3s ease;
  padding-bottom: 2px;
}

.header-center-buttons i:hover {
  border-bottom: 2px solid #007bff;
}


/* Responsive 2-column grid on wider screens */
@media (max-width: 768px) {
  .header-center-buttons {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 1rem;
    border: none;
    background-color: var(--primary-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000;
    span {
      display: none;
    }
    i {
      padding: 0.5rem;
    }
  }

  .underProfile {
    right: 1rem;
    top: 5rem;
    width: -webkit-fill-available;
  }
}
