header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px var(--main-pading-side);
  background-color: var(--primary-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo a {
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  color: #eeeeee;
  font-family: var(--primary-font);
}

.navigation-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navigation-links button {
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  background-color:  var(--secondary-color);
  font-size: 1rem;
  transition: color 0.3s ease;
  font-family: var(--primary-font);
}

.navigation-links button:hover {
  background-color:  #ffffff ;
}

.user-profile{
  display: contents;
  align-items: center;
  justify-content: center;
}



/* 425 */

/* Responsive 2-column grid on wider screens */
@media (max-width: 425px) {
  .new_post_btn {
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    font-size: 1rem;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000;
    span{
      display: none;
    }
    i {
      padding: 0.5rem;
    }
  }
}
