:root {
    --primary-color:#201E43;
    --secondary-color : #cfcfcf;
    --third-color :#dadada;
    --text-color : #EEEEEE;


    /* padings */
    --main-pading-side : 10%;
    --pading-10 : 10px;
    --gap: 1rem;


    /* fonts */

    --primary-font : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.hidden{
    display: none;
}

.show{
    display: block;
}